body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
body{
  margin: 5em; */
  /* background-color: black; */
  /* background-image: url(https://images2.alphacoders.com/207/207110.jpg); */
/* } */

.all-countries{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  

}
Header{
  background-color: antiquewhite;
}
.country{
  /* align-self: center; */
  background-color:antiquewhite;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.2);


  padding: 10px 14px;
  margin: 20px;
  width: 15rem;
  height: 20rem;
  border-radius: 10px;
}
.country img{
  /* margin:   margin: 1rem 2rem;
0.5rem 1rem; */
margin: 10px ,0px;
  width: 100%;
  height: 40%;
}
.country-text{
  margin: 0.5rem 1rem;
}
h1{
  margin: 0;
  /* color: aliceblue; */
}
#logo{
  
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.filter-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.label{
  color: rgb(57, 57, 57);
  font-size: 18px;
}
.header{
  background-color: antiquewhite;
  padding: 20px;
}
.btn{
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 20px;
  padding: 5px 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color:aliceblue;
  
}
#root {

  width: 100%;
  margin: 0;
  padding: 0;
  background-color:#000
}

.popup{
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  width: 60%;
}

.details{
  margin: 10px;
}
.details{
  /* background-color: antiquewhite; */

}

.popupDiv{
  position: fixed;
  width: fit-content;
  /* border-radius: 10px; */
  /* background-color: antiquewhite; */
  /* width:60vw;
  height: 40vh;
   */
}
.popupDiv img{
  margin: 10px ,0px;
  width: 40%;
  /* width: 40%;
  height: 40%; */
}
.closeButton{
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.borderCountries{
  margin-left: 10px;

}

@media (max-width:590px) {
  .heading{
   
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }
  .filter-row{
    
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }
}